html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

main {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: teal;
}

h1 {
  text-transform: uppercase;
  color: white;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
}

input {
  width: 70%;
  height: 40px;
  border: none;
  border-radius: 20px 0 0 20px;
}

button {
  background-color: white;
  border: none;
  border-radius: 0 20px 20px 0;
}